
.cards {
display: flex; 
flex-wrap: wrap;
margin-bottom: 120px; 
margin-top: 90px; 
}


.card { 
padding: 20px; 
padding-right: 20px; 
display: flex; 
align-items: center;
justify-content: space-around;
box-shadow: 0px 10px 35px rgba(0,0,0,0.3);
border-radius: 6px;
margin: 10px;
flex-basis: 250px;
flex-grow: 1;
}



.card img { 
width: 150px; 
padding-left: 20px;
padding-bottom: 20px;
padding-top: 20px;
border-radius: 20px;
 }


.card h3 { 
font-size: 24px;
flex-grow:1;
padding-left: 18px;
 }